# Файл с секретными ключами, который нельзя публиковать!
.env

# Виртуальное окружение
venv/
.venv/

# Настройки IDE (PyCharm)
.idea/

# Технические файлы Python
*.pyc
__pycache__/

# Игнорировать другие временные файлы
*.log
*.tmp